#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/* layers */
#define DEFAULT 0
#define LOWER   1
#define RAISE   2
#define NAV     3 
#define FUN     4

#include "behaviors.dtsi"

#define XXXXX &none
#define _____ &trans

/* macros */
#define SCNSHT  &kp LC(LS(LG(N4)))
#define Z_IN    &kp LG(EQUAL)
#define Z_OUT   &kp LG(MINUS)

/* global config */
&caps_word {
    continue-list = <UNDERSCORE MINUS BACKSPACE DELETE>;
};

/ {
        conditional_layers {
          compatible = "zmk,conditional-layers";
          tri_layer {
            if-layers = <2 3>;
            then-layer = <4>;
          };
        };

        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -------------------------------     --------------------------------
// |  q  |  w  |  f  |  p  |  b  |     |  j  |  l   |  u  |  y  |  '  |
// -------------------------------     --------------------------------
// |  a  |  r  |  s  |  t  |  g  |     |  m  |  n   |  e  |  i  |  o  |
// -------------------------------     --------------------------------
// |  z  |  x  |  c  |  d  |  v  |     |  k  |  h   |  ,  |  .  |  /  |
// -------------------------------     --------------------------------
//             | ESC | RET | TAB |     | BSPC| SPC  | DEL |
//             -------------------     --------------------
                        bindings = <
   &kp Q        &kp W        &kp F        &kp P        &kp B          &kp J  &kp L        &kp U          &kp Y         &kp SQT
   &hml LSFT A  &hml LCTL R  &hml LALT S  &hml LGUI T  &kp G          &kp M  &hmr RGUI N  &hmr RALT E    &hmr RCTRL I  &hmr RSFT O
   &kp Z        &kp X        &kp C        &kp D        &kp V          &kp K  &kp H        &kp COMMA      &kp DOT       &kp FSLH
#ifdef THREE_THUMBS 
                             &kp ESC      &lt LOWER RET  &mt LSFT TAB   &lt NAV BSPC        &lt RAISE SPACE  &kp DEL
#else
                                          &lt LOWER RET  &mt LSFT TAB   &lt NAV BSPC        &lt RAISE SPACE
#endif
                        >;
                };

                lower_layer {
// -------------------------------     -------------------------------
// |  !  |  @  |  #  |  $  |  %  |     |  ^  |  &  |  *  |  (  |  )  |
// -------------------------------     -------------------------------
// |  :  |  ;  |  ~  |  `  |     |     |  |  |  +  |  =  |  {  |  }  |
// -------------------------------     -------------------------------
// |     |     |     |     |     |     |  \  |  -  |  _  |  [  |  ]  |
// -------------------------------     -------------------------------
//             |     |     |     |     |     |     |     |
//             -------------------     -------------------
                        bindings = <
   &kp EXCL  &kp AT   &kp HASH  &kp DLLR  &kp PRCNT  &kp CARET &kp AMPS  &kp KP_MULTIPLY &kp LPAR &kp RPAR
   &kp COLON &kp SEMI &kp TILDE &kp GRAVE _____      &kp PIPE  &kp PLUS  &kp EQUAL       &kp LBRC &kp RBRC
   _____     _____    _____     _____     _____      &kp BSLH  &kp MINUS &kp UNDER       &kp LBKT &kp RBKT
#ifdef THREE_THUMBS 
                   	   _____     _____    _____      _____     _____    _____
#else
                    	           _____    _____      _____     _____
#endif
                        >;
                };

                raise_layer {
// -------------------------------      -------------------------------
// |  1  |  2  |  3  | 4   |  5  |      |  6  |  7  |  8  |  9  |  0  |
// -------------------------------      -------------------------------
// |LSFT |LCTL |LALT |LGUI |     |      |     |LGUI |LALT |LCTL |LSFT |
// -------------------------------      -------------------------------
// |     |     |     |     |     |      |     |     |     |     |     |
// -------------------------------      -------------------------------
//             |     |     |     |      |     |     |     |
//             -------------------      -------------------
                        bindings = <
   &kp N1    &kp N2   &kp N3   &kp N4   &kp N5  &kp N6 &kp N7   &kp N8    &kp N9    &kp N0
   &kp LSFT  &kp LCTL &kp LALT &kp LGUI XXXXX   XXXXX  &kp LGUI &kp LALT  &kp LCTL  &kp LSFT
   XXXXX     XXXXX    XXXXX    XXXXX    XXXXX   XXXXX  XXXXX    XXXXX     XXXXX     XXXXX
#ifdef THREE_THUMBS 
                   	  _____    _____    _____   _____  _____     _____
#else
                   	           _____    _____    _____  _____
#endif
                        >;
                };

                nav_layer { 
// -------------------------------      -------------------------------
// | ESC |     |     |     |     |      |PGUP |HOME | UP  | END |     |
// -------------------------------      -------------------------------
// |LSFT |LCTL |LALT |LGUI |     |      |PGDN |LEFT |DOWN |RIGHT| DEL |
// -------------------------------      -------------------------------
// |     |     |     |     |     |      |     |     |     |     |     |
// -------------------------------      -------------------------------
//             |     |     |     |      |     |     |     |
//             -------------------      -------------------
                        bindings = <
   &kp ESC      _____     _____    _____     _____    &kp PG_UP  &kp HOME  &kp UP    &kp END    _____
   &kp LSFT   &kp LCTL  &kp LALT   &kp LGUI  _____    &kp PG_DN  &kp LEFT  &kp DOWN  &kp RIGHT  &kp DEL
   _____      _____     _____      _____     _____    _____      _____      _____    _____      _____
#ifdef THREE_THUMBS
                   	    _____      _____     _____    _____      _____      _____
#else
                                   _____     _____    _____      _____
#endif
                        >;
                };
                

                fun_layer {
// -------------------------------      -------------------------------
// | F1  | F2  | F3  | F4  | F5  |      | F6  | F7  | F8  | F9  | F10 |
// -------------------------------      -------------------------------
// | BOOT| BT0 | BT1 | BT2 |BTCLR|      |MUTE |vol+ |  Z+ |     | BOOT|
// -------------------------------      -------------------------------
// |     |     |     |     |     |      |SCRN |vol- |  Z- |     |     |
// -------------------------------      -------------------------------
//             |     |     |     |      |     |     |     |
//             -------------------      -------------------
                    bindings = <
   &kp F1       &kp F2        &kp F3        &kp F4        &kp F5      &kp F6       &kp F7        &kp F8  &kp F9  &kp F10
   &bootloader  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_CLR  &kp C_MUTE   &kp C_VOL_UP  Z_IN    XXXXX   &bootloader
   XXXXX        XXXXX         XXXXX         XXXXX         XXXXX       SCNSHT       &kp C_VOL_DN  Z_OUT   XXXXX   XXXXX
#ifdef THREE_THUMBS
                             	_____         _____         _____       _____        _____         _____
#else
                                            _____         _____       _____        _____
#endif
                    >;
                };

        };
};
