/*                              34 KEY MATRIX / LAYOUT MAPPING
  ╭─────────────────────┬─────────────────────╮
  │ LT4 LT3 LT2 LT1 LT0 │ RT0 RT1 RT2 RT3 RT4 │
  │ LM4 LM3 LM2 LM1 LM0 │ RM0 RM1 RM2 RM3 RM4 │
  │ LB4 LB3 LB2 LB1 LB0 │ RB0 RB1 RB2 RB3 RB4 │
  ╰───────────╮ LH1 LH0 │ RH0 RH1 ╭───────────╯
              ╰─────────┴─────────╯             */

#define COMBO_TERM 50

#define COMBO(NAME, BINDINGS, KEYPOS, LAYERS) \
        combo_##NAME { \
            timeout-ms = <COMBO_TERM>; \
            bindings = <BINDINGS>; \
            key-positions = <KEYPOS>; \
            layers = <LAYERS>; \
        };

/ {
    combos {
        compatible = "zmk,combos";

/* other */
/* COMBO(wf_esc, &kp ESC,    LT3 LT2, DEFAULT) */
  
 /* 4 corners to lock mac */
 COMBO(lock,   &kp LG(LC(Q)),  LT4 LB4 RT4 RB4, DEFAULT)

/* A+O to activate caps_word */
/*COMBO(capsw,  &caps_word, LM4 RM4, DEFAULT)*/

/* cut/copy/paste */
/* COMBO(copy,   &kp LG(C),  LB3 LB2, DEFAULT) */
/* COMBO(paste,  &kp LG(V),  LB2 LB1, DEFAULT) */
/* COMBO(cut,    &kp LG(X),  LB3 LB1, DEFAULT) */


    };
};
