/*
 * copyright (c) 2020 the zmk contributors
 *
 * spdx-license-identifier: mit
 */


#ifdef CONFIG_SHIELD_NICE_VIEW_ADAPTER
/* make the Nice! View work */
&nice_view_spi {
    cs-gpios = <&pro_micro 0 GPIO_ACTIVE_HIGH>;
};
#endif

/* source keypos helpers*/
#include "../keypos_def/keypos_36keys.h"

#define THREE_THUMBS

/* source the main keymap */
#include "base.keymap"

/ { chosen { zmk,matrix_transform = &five_column_transform; }; };
